<%- include ('partials/header'); -%>

<div class="container" style="padding-top: 10%; font-weight: bold;">
    <div class="container" style="text-align: center; vertical-align: middle;">
       <h1>WELCOME TO OUR PICKLE WEB SERVER</h1> 
    </div>
    <div>
       <a class="home-page-button" href="/homepage">
           <button type="button" class="btn btn-light home-page-button" style="margin:0 auto; display:block;">
           <i class="fa fa-home" style="font-size:20px"></i> Go to Homepage 
           </button>
       </a>
    </div>
</div>

<style>
    .home-page-button {
        font-size: xx-large;
    }
</style>



<%- include ('partials/footer'); -%>

