<%- include ('partials/header'); -%>

<div>
   <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active">
        <h5 class="mr-3 mb-0"><strong>American Music</strong></h5>
      </li>
    </ol>
 </nav> 
</div>


<div class="container">

    <div class="row">
        
      <div class="col-lg-3 col-md-3 mb-3">
        <div>
            <p>In The middle</p>
        </div>
        <iframe width="250" height="250" src="https://www.youtube.com/embed/Lj6Y6JCu-l4?list=PLGBI0d04H102DTAvQZ1VNQePVfTPV-5ay" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    
      <div class="col-lg-3 col-md-3 mb-3">
        <div>
            <p>Clarity</p>
        </div>
        <iframe width="250" height="250" src="https://www.youtube.com/embed/IxxstCcJlsc?list=PLGBI0d04H102DTAvQZ1VNQePVfTPV-5ay" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    
      <div class="col-lg-3 col-md-3 mb-3">
        <p>Stay The Night</p>
        <iframe width="250" height="250" src="https://www.youtube.com/embed/i-gyZ35074k?list=PLGBI0d04H102DTAvQZ1VNQePVfTPV-5ay" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      
      <div class="col-lg-3 col-md-3 mb-3">
        <p>Ignite</p>
        <iframe width="250" height="250" src="https://www.youtube.com/embed/Az-mGR-CehY?list=PLGBI0d04H102DTAvQZ1VNQePVfTPV-5ay" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      
    </div>
    
    <div class="row">
        
      <div class="col-lg-3 col-md-3 mb-3">
        <div>
            <p>Stranger Things</p>
        </div>
        <iframe width="250" height="250" src="https://www.youtube.com/embed/-35jibKqbEo?list=PLGBI0d04H102DTAvQZ1VNQePVfTPV-5ay" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    
      <div class="col-lg-3 col-md-3 mb-3">
        <div>
            <p>Complicated</p>
        </div>
        <iframe width="250" height="250" src="https://www.youtube.com/embed/w0EF3AxJwLU?list=PLGBI0d04H102DTAvQZ1VNQePVfTPV-5ay" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    
      <div class="col-lg-3 col-md-3 mb-3">
        <p>Promises</p>
        <iframe width="250" height="250" src="https://www.youtube.com/embed/jn40gqhxoSY?list=PLGBI0d04H102DTAvQZ1VNQePVfTPV-5ay" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      
      <div class="col-lg-3 col-md-3 mb-3">
        <p>Stole The Show</p>
        <iframe width="250" height="250" src="https://www.youtube.com/embed/BgfcToAjfdc?list=PLGBI0d04H102DTAvQZ1VNQePVfTPV-5ay" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      
    </div>
    
    
    
</div>

<div>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active">
        <h5 class="mr-3 mb-0"><strong>Korean Music</strong></h5>
      </li>
    </ol>
 </nav>  
</div>

<div class="container">

    <div class="row">
        
      
      
    </div>
    
    <div class="row">
        
      <div class="col-lg-3 col-md-3 mb-3">
        <div>
            <p>Yes or Yes</p>
        </div>
        <iframe width="250" height="250" src="https://www.youtube.com/embed/mAKsZ26SabQ?list=PLGBI0d04H101zqpS4N31KIqvqZSkwF8aj" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    
      <div class="col-lg-3 col-md-3 mb-3">
        <div>
            <p>Forget About Tomorrow</p>
        </div>
        <iframe width="250" height="250" src="https://www.youtube.com/embed/M2zrC1QF7Zo?list=PLGBI0d04H101zqpS4N31KIqvqZSkwF8aj" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    
      <div class="col-lg-3 col-md-3 mb-3">
        <p>TXT - Crown</p>
        <iframe width="250" height="250" src="https://www.youtube.com/embed/W3iSnJ663II?list=PLGBI0d04H101zqpS4N31KIqvqZSkwF8aj" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      
      <div class="col-lg-3 col-md-3 mb-3">
        <p>AKMU - Dinosaurs</p>
        <iframe width="250" height="250" src="https://www.youtube.com/embed/8Oz7DG76ibY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      
    </div>
    
    
    
</div>

<div>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active">
        <h5 class="mr-3 mb-0"><strong>Relax Music</strong>
        </h5>
        

      </li>
    </ol>
 </nav>  
</div>

<div class="container">

    <div class="row">
        
      <div class="col-lg-3 col-md-3 mb-3">
        <div>
            <p>Relax Story Music</p>
        </div>
        <iframe width="250" height="250" src="https://www.youtube.com/embed/MO30O_f1nzU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>

      <div class="col-lg-3 col-md-3 mb-3">
        <div>
            <p>Relax Story Music</p>
        </div>
        <iframe width="250" height="250" src="https://www.youtube.com/embed/TDcJJYY5sms" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      

      
    </div>
    

    
</div>    

<%- include ('partials/footer'); -%>









